In [1]:
import numpy as np
import pandas as pd
import GPy
import pods

In [2]:
np.random.seed(seed=1)

In [3]:
data = pods.datasets.olympic_100m_men()
X, Y = data["X"], data["Y"]
X_pred = np.linspace(X[:,0].min() - 30,
                     X[:,0].max() + 30,
                     500).reshape(-1,1)

In [4]:
pd.concat([pd.DataFrame(X.T, index=["X"]), pd.DataFrame(Y.T, index=["Y"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
X,1896.0,1900.0,1904.0,1906.0,1908.0,1912.0,1920.0,1924.0,1928.0,1932.0,...,1972.00,1976.00,1980.00,1984.00,1988.00,1992.00,1996.00,2000.00,2004.00,2008.00
Y,12.0,11.0,11.0,11.2,10.8,10.8,10.8,10.6,10.8,10.3,...,10.14,10.06,10.25,9.99,9.92,9.96,9.84,9.87,9.85,9.69

In [12]:
k = GPy.kern.RBF(input_dim=1,
                 variance=1.,
                 lengthscale=0.1)
k

In [6]:
k.K

In [13]:
X_test = np.linspace(-1, 1, 10).reshape(-1,1)
X_test2 = np.linspace(-2, 2, 10).reshape(-1,1)
pd.concat([pd.DataFrame(X_test.T, index=["X_test"]), pd.DataFrame(X_test2.T, index=["X_test2"])], axis=0)

,0,1,2,3,4,5,6,7,8,9
X_test,-1.0,-0.777778,-0.555556,-0.333333,-0.111111,0.111111,0.333333,0.555556,0.777778,1.0
X_test2,-2.0,-1.555556,-1.111111,-0.666667,-0.222222,0.222222,0.666667,1.111111,1.555556,2.0

In [15]:
pd.DataFrame(k.K(X_test, X_test2))

,0,1,2,3,4,5,6,7,8,9
0,1.928750e-22,1.985750e-07,5.394075e-01,3.865920e-03,7.310252e-14,3.647165e-33,4.800892e-61,1.667371e-97,1.527868e-142,3.693883e-196
1,3.647165e-33,7.310252e-14,3.865920e-03,5.394075e-01,1.985750e-07,1.928750e-22,4.942774e-46,3.342020e-78,5.961987e-119,2.806187e-168
2,4.942774e-46,1.928750e-22,1.985750e-07,5.394075e-01,3.865920e-03,7.310252e-14,3.647165e-33,4.800892e-61,1.667371e-97,1.527868e-142
3,4.800892e-61,3.647165e-33,7.310252e-14,3.865920e-03,5.394075e-01,1.985750e-07,1.928750e-22,4.942774e-46,3.342020e-78,5.961987e-119
4,3.342020e-78,4.942774e-46,1.928750e-22,1.985750e-07,5.394075e-01,3.865920e-03,7.310252e-14,3.647165e-33,4.800892e-61,1.667371e-97
5,1.667371e-97,4.800892e-61,3.647165e-33,7.310252e-14,3.865920e-03,5.394075e-01,1.985750e-07,1.928750e-22,4.942774e-46,3.342020e-78
6,5.961987e-119,3.342020e-78,4.942774e-46,1.928750e-22,1.985750e-07,5.394075e-01,3.865920e-03,7.310252e-14,3.647165e-33,4.800892e-61
7,1.527868e-142,1.667371e-97,4.800892e-61,3.647165e-33,7.310252e-14,3.865920e-03,5.394075e-01,1.985750e-07,1.928750e-22,4.942774e-46
8,2.806187e-168,5.961987e-119,3.342020e-78,4.942774e-46,1.928750e-22,1.985750e-07,5.394075e-01,3.865920e-03,7.310252e-14,3.647165e-33
9,3.693883e-196,1.527868e-142,1.667371e-97,4.800892e-61,3.647165e-33,7.310252e-14,3.865920e-03,5.394075e-01,1.985750e-07,1.928750e-22

In [17]:
pd.DataFrame(k.K(X, X_pred))

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
m = GPy.models.GPRegression(X, Y, k)
m

In [19]:
mu, var = m.predict(X_pred)

In [20]:
pd.concat([pd.DataFrame(mu.T, index=["mu"]), pd.DataFrame(var.T, index=["var"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
mu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
var,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [21]:
m.optimize("bfgs", max_iters=200)

In [22]:
m

In [23]:
mu, var = m.predict(X_pred)

In [24]:
pd.concat([pd.DataFrame(mu.T, index=["mu"]), pd.DataFrame(var.T, index=["var"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
mu,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
var,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,...,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164,108.212164

In [36]:
k = GPy.kern.RBF(input_dim=1,
                 variance=1.,
                 lengthscale=0.1)
k

In [37]:
m2 = GPy.models.GPRegression(X, Y, k, normalizer=True)
m2

In [38]:
mu, var = m2.predict(X_pred)
pd.concat([pd.DataFrame(mu.T, index=["mu"]), pd.DataFrame(var.T, index=["var"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
mu,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,...,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630
var,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,...,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185,0.536185

# ハイパーパラメータの初期値の設定の仕方が大事

In [39]:
m2.optimize()
m2

In [40]:
mu, var = m2.predict(X_pred)
pd.concat([pd.DataFrame(mu.T, index=["mu"]), pd.DataFrame(var.T, index=["var"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
mu,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,...,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630,10.389630
var,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,...,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092,0.268092

In [4]:
import numpy as np
import pandas as pd
import GPy
import pods

np.random.seed(seed=1)


data = pods.datasets.olympic_100m_men()
X, Y = data["X"], data["Y"]
X_pred = np.linspace(X[:,0].min() - 30,
                     X[:,0].max() + 30,
                     500).reshape(-1,1)

k = GPy.kern.RBF(input_dim=1,
                 variance=1.,
                 lengthscale=10.)

m = GPy.models.GPRegression(X, Y, k)
mu, var = m.predict(X_pred)
pd.concat([pd.DataFrame(mu.T, index=["mu"]), pd.DataFrame(var.T, index=["var"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
mu,0.049292,0.054763,0.060772,0.067363,0.074585,0.082486,0.091122,0.100547,0.110821,0.122007,...,0.097011,0.088061,0.079846,0.072316,0.065422,0.059118,0.053361,0.048110,0.043326,0.038974
var,1.999930,1.999914,1.999894,1.999871,1.999843,1.999809,1.999769,1.999721,1.999663,1.999595,...,1.999601,1.999668,1.999725,1.999772,1.999812,1.999845,1.999873,1.999896,1.999915,1.999931