# To do

* コレスキー分解 numpy.linalg.cholesky と scipy.linalg.lapack.dpotrf

* Chosolv


---

* テストコード https://www.youtube.com/watch?v=Hl8UNYrp0Vg

# 0. ライブラリのインポート & トイデータの準備

In [35]:
import numpy as np
import pandas as pd
import GPy
import pods

In [36]:
np.random.seed(seed=1)

In [37]:
data = pods.datasets.olympic_100m_men()
X, Y = data["X"], data["Y"]
X_pred = np.linspace(X[:,0].min() - 30,
                     X[:,0].max() + 30,
                     500).reshape(-1,1)

In [38]:
pd.concat([pd.DataFrame(X.T, index=["X"]), pd.DataFrame(Y.T, index=["Y"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
X,1896.0,1900.0,1904.0,1906.0,1908.0,1912.0,1920.0,1924.0,1928.0,1932.0,...,1972.00,1976.00,1980.00,1984.00,1988.00,1992.00,1996.00,2000.00,2004.00,2008.00
Y,12.0,11.0,11.0,11.2,10.8,10.8,10.8,10.6,10.8,10.3,...,10.14,10.06,10.25,9.99,9.92,9.96,9.84,9.87,9.85,9.69

In [39]:
pd.DataFrame(X_pred.T, index=["X_pred"])

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
X_pred,1866.0,1866.344689,1866.689379,1867.034068,1867.378758,1867.723447,1868.068136,1868.412826,1868.757515,1869.102204,...,2034.897796,2035.242485,2035.587174,2035.931864,2036.276553,2036.621242,2036.965932,2037.310621,2037.655311,2038.0

# 1. RBFカーネル

$$k(x, x') = variance * \exp\left( -\frac{1}{2} \frac{|x - x'|^2}{lengthscale} \right)$$

In [212]:
class RBF:
    def __init__(self, variance=1., lengthscale=0.1):
        self.variance=variance
        self.lengthscale=lengthscale
        # self.r = self._euclidean_distance
        
    def K(self, X, X2=None):
        return self.variance * np.exp(-0.5 * (self._euc_dist(X, X2) / self.lengthscale)**2)
        # return self._euc_dist(X, X2)
        
    def _euc_dist(self, X, X2):
        if X2 is None:
            # print("X2 is None")
            # print(X2)
            Xsq = np.sum(np.square(X),1)
            r2 = -2.*(np.dot(X, X.T)) + (Xsq[:,None] + Xsq[None,:]) 
            r2 = np.clip(r2, 0, np.inf)
            np.fill_diagonal(r2, 0.)
            return np.sqrt(r2)
        else:
            # print(X)
            # print(X2)
            X1sq = np.sum(np.square(X),1)
            X2sq = np.sum(np.square(X2),1)
            r2 = -2.*np.dot(X, X2.T) + (X1sq[:,None] + X2sq[None,:])
            r2 = np.clip(r2, 0, np.inf)
            return np.sqrt(r2)

In [213]:
kern = RBF()
kern.variance, kern.lengthscale

(1.0, 0.1)

In [76]:
pd.DataFrame(kern.K(X, X_pred)).head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
kern.K(X, X_pred).max(), kern.K(X, X_pred).min()

(0.9927971862436876, 0.0)

ハイパーパラメータの値が重要

In [77]:
kern.lengthscale = 10.
kern.lengthscale

10.0

In [79]:
pd.DataFrame(kern.K(X, X_pred)).head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.011109,0.012312,0.013629,0.015069,0.016641,0.018356,0.020223,0.022253,0.024459,0.026851,...,1.278370e-42,7.915405e-43,4.895237e-43,3.023837e-43,1.865636e-43,1.149687e-43,7.076464e-44,4.350478e-44,2.671417e-44,1.638439e-44
1,0.003089,0.003471,0.003895,0.004367,0.004889,0.005468,0.006108,0.006814,0.007593,0.008452,...,3.053619e-40,1.916988e-40,1.202009e-40,7.528012e-41,4.709088e-41,2.942234e-41,1.836123e-41,1.144486e-41,7.125295e-42,4.430772e-42
2,0.000732,0.000834,0.000949,0.001078,0.001224,0.001388,0.001572,0.001778,0.002009,0.002267,...,6.215642e-38,3.956201e-38,2.515097e-38,1.597037e-38,1.012883e-38,6.416346e-39,4.059758e-39,2.565645e-39,1.619485e-39,1.021037e-39
3,0.000335,0.000385,0.000441,0.000505,0.000577,0.000659,0.000751,0.000855,0.000973,0.001106,...,8.351489e-37,5.352420e-37,3.426261e-37,2.190659e-37,1.398985e-37,8.923503e-38,5.685147e-38,3.617696e-38,2.299357e-38,1.459704e-38
4,0.000148,0.000171,0.000197,0.000227,0.000261,0.000300,0.000345,0.000395,0.000453,0.000518,...,1.078127e-35,6.957453e-36,4.484505e-36,2.887106e-36,1.856500e-36,1.192370e-36,7.649119e-37,4.901124e-37,3.136635e-37,2.005009e-37

In [80]:
kern.K(X, X_pred).max(), kern.K(X, X_pred).min()

(0.9999992771123355, 1.638439217006888e-44)

# 2. コレスキー分解

`custom_cholesky` 関数を作成

In [52]:
import numpy as np
from scipy import linalg
from scipy.linalg import lapack, blas
import traceback
import logging


def jitchol(A, maxtries=5):
    A = np.ascontiguousarray(A)
    L, info = lapack.dpotrf(A, lower=1)
    if info == 0:
        return L
    else:
        diagA = np.diag(A)
        if np.any(diagA <= 0.):
            raise linalg.LinAlgError("not pd: non-positive diagonal elements")
        jitter = diagA.mean() * 1e-6
        num_tries = 1
        while num_tries <= maxtries and np.isfinite(jitter):
            try:
                L = linalg.cholesky(A + np.eye(A.shape[0]) * jitter, lower=True)
                return L
            except:
                jitter *= 10
            finally:
                num_tries += 1
        raise linalg.LinAlgError("not positive definite, even with jitter.")

    try:
        raise
    except:
        logging.warning('\n'.join(['Added jitter of {:.10e}'.format(jitter),
                                   '  in ' + traceback.format_list(traceback.extract_stack(limit=3)[-2:-1])[0][2:]]))
    return L

In [135]:
def generate_non_pd_mat():    
    # Create PD matrix
    A = np.random.randn(20, 100)
    A = A.dot(A.T)
    # Compute Eigdecomp
    vals, vectors = np.linalg.eig(A)
    # Set smallest eigenval to be negative with 5 rounds worth of jitter
    vals[vals.argmin()] = 0
    default_jitter = 1e-6 * np.mean(vals)
    vals[vals.argmin()] = -default_jitter * (10 ** 3.5)
    A_corrupt = (vectors * vals).dot(vectors.T)
    return A_corrupt

In [136]:
A = generate_non_pd_mat()
np.linalg.cholesky(A)

LinAlgError: Matrix is not positive definite

In [137]:
lapack.dpotrf(A)

(array([[ 9.65081412,  0.33582105, -1.68565454, -1.14139877, -0.37228016,
         -0.17195544, -0.7136588 ,  1.37156911, -0.77773783,  0.02386796,
          0.57549029, -1.85623697, -1.63678659, -1.97397285, -0.29475409,
          0.62568007,  0.69315421, -1.35694038, -0.07766662, -1.14655859],
        [ 0.        ,  8.77726227, -1.00289126, -1.73135024, -0.30927861,
         -0.51627505,  0.49946822, -0.90580208, -0.73003844, -1.16834791,
          1.26743552,  0.76388433, -0.34926526, -0.35713272, -0.30200429,
          0.26370762,  1.18092124,  1.08678571, -1.55762634,  0.04723639],
        [ 0.        ,  0.        ,  8.26585999,  2.42290979,  1.72457824,
         -0.91897196,  1.7103156 ,  2.75443181, -1.34556061,  2.46243475,
         -1.48284766, -2.09251147, -0.89632598, -0.03501279,  0.65255423,
          2.77734342,  0.82520118, -1.91278654, -0.18600112, -0.98087357],
        [ 0.        ,  0.        ,  0.        ,  9.07474373,  0.01938929,
         -1.49210495,  1.05049838, -0.12753944,  0.63744601, -0.87303288,
         -0.80692674, -0.09706076, -0.93926205,  1.2407036 , -0.03722309,
         -1.33277052, -0.95807142,  1.89554215,  0.8441074 , -0.30789325],
        [ 0.        ,  0.        ,  0.        ,  0.        , 10.86962758,
          0.02927179, -0.81904054,  0.07276571,  0.03985287,  0.31407876,
          0.06280458, -0.77065267,  0.87908814, -0.58145077, -1.17609251,
         -1.56019784, -0.46359591, -0.48893452, -0.69659971,  0.72395299],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         10.24042915, -1.08235585, -1.27374086,  0.33660007, -1.44459266,
          0.10082152,  2.02362278, -0.11916964, -0.5831437 ,  2.07519761,
          1.09851223, -1.00468939,  1.03480389,  1.32582482, -1.30945354],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        , 10.14818407, -0.83860425,  0.41066643, -1.06226176,
          0.40041662, -0.56727968,  0.993357  ,  1.14575197, -2.16642095,
          0.16711537,  0.46717731, -0.79551338,  0.82454162, -0.12655426],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  9.19960104,  1.47129312, -1.1995982 ,
         -1.58276438,  0.2486288 ,  0.38307027,  2.00469556, -1.40924048,
         -2.53377854,  0.18919328,  2.43000471,  0.72248696, -1.69546749],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  8.57941659,  0.12720419,
         -1.33070787,  0.0532676 , -3.32577586, -1.14932061,  0.10096249,
          1.50619357,  0.8789066 , -2.19675766, -0.31526403,  0.57994829],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  9.34663479,
          1.59384345,  0.71885663,  0.65993728, -1.06482184, -2.30569813,
         -2.31205268, -0.69274781,  0.86308313, -0.54491112, -0.51904367],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          8.90084694,  0.18410564,  0.38916492,  0.1682545 ,  0.69702563,
          0.71850217,  0.48864764, -1.00577491,  0.67672965,  0.06544492],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  8.7800593 , -0.98616222, -0.29032844,  0.80290019,
          1.30280833,  0.94799512, -0.7151253 ,  0.82883061,  0.08758792],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  8.43293795, -0.25757803,  1.02278838,
          1.94923482,  0.63462953, -2.03937394,  1.75291738,  0.76084883],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  8.79290782, -2.11384595,
          0.97229435, -1.14955469, -0.13369003,  1.10963933, -0.47625559],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  8.57934226,
         -0.89255768, -1.4175694 ,  1.0538695 , -0.61946373, -0.94578235],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          7.4656487 , -0.02963638,  6.04811717, -1.17176131, -3.08516558],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  9.87837968, -0.45961539, -0.69602531, -0.92997703],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  5.12085216,  2.58211583,  7.41957933],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  9.7819882 , -3.42890876],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        , -6.16960003]]),
 20)

In [138]:
jitchol(A)

array([[ 9.70003086,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.33411714,  8.83141325,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-1.67710174, -0.9973907 ,  8.32565856,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-1.13560746, -1.72117356,  2.41020951,  9.13307523,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-0.37039125, -0.30752552,  1.71336883,  0.0257677 , 10.91521519,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-0.17108296, -0.51317563, -0.9113067 , -1.48449897,  0.02808615,
        10.2887804 ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-0.71003779,  0.49613098,  1.69876412,  1.04893309, -0.81258819,
        -1.08087737, 10.19818099,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 1.36460994, -0.89972013,  2.73316447, -0.11686171,  0.07852147,
        -1.26971904, -0.82948855,  9.26061272,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-0.77379169, -0.72586146, -1.33331963,  0.6308577 ,  0.03652961,
         0.3362566 ,  0.40559902,  1.45275008,  8.6412365 ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.02374686, -1.16117485,  2.44633076, -0.85715945,  0.31867786,
        -1.43739985, -1.0529576 , -1.17532156,  0.11169105,  9.40925389,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.57257032,  1.25988558, -1.4751184 , -0.80943787,  0.05966871,
         0.10153133,  0.3957663 , -1.57859733, -1.32372785,  1.57945614,
         8.96102666,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-1.84681865,  0.75848601, -2.07482942, -0.10353732, -0.77192045,
         2.01610462, -0.56803912,  0.23225828,  0.06291685,  0.69965868,
         0.18949372,  8.84402814,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-1.62848174, -0.34775369, -0.88612199, -0.93445781,  0.87409567,
        -0.1150781 ,  0.98560222,  0.3729788 , -3.29475849,  0.64429646,
         0.39779913, -0.96746721,  8.50942743,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-1.96395716, -0.35570269, -0.03030868,  1.23465382, -0.57972831,
        -0.58130946,  1.14212018,  1.98532496, -1.12876891, -1.07158275,
         0.16557925, -0.27984045, -0.23516616,  8.85795583,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-0.29325854, -0.30026596,  0.64887913, -0.0340711 , -1.16971996,
         2.06519064, -2.15486278, -1.3957932 ,  0.09194568, -2.28122535,
         0.68221906,  0.79016142,  0.99226629, -2.11172476,  8.65642289,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.62250544,  0.26233149,  2.75577399, -1.31604871, -1.54700146,
         1.09229843,  0.17204126, -2.50215669,  1.4738488 , -2.27062046,
         0.69869153,  1.26930723,  1.88783776,  0.9332482 , -0.83457694,
         7.60785426,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.68963724,  1.17394706,  0.81623801, -0.9519465 , -0.45948535,
        -1.00067014,  0.46796492,  0.19410663,  0.86652611, -0.68114655,
         0.4810488 ,  0.93200872,  0.61236816, -1.15116739, -1.39039301,
         0.02236246,  9.93817952,  0.        ,  0.        ,  0.        ],
       [-1.35005543,  1.07959966, -1.8978461 ,  1.87598427, -0.49217209,
         1.02796236, -0.79312347,  2.39925527, -2.16310841,  0.82888623,
        -0.98822694, -0.68285153, -1.98492003, -0.10048588,  1.01096234,
         5.80726361, -0.52279945,  5.55852192,  0.        ,  0.        ],
       [-0.07727255, -1.54810544, -0.18233635,  0.84111856, -0.69439761,
         1.3198731 ,  0.81899041,  0.71475237, -0.30609259, -0.54844397,
         0.67024049,  0.82598118,  1.74045296,  1.10293104, -0.60600654,
        -1.12188839, -0.68081415,  2.2388116 ,  9.92951627,  0.        ],
       [-1.1407411 ,  0.04650544, -0.97159757, -0.30847869,  0.71901496,
        -1.30136419, -0.1275182 , -1.68945288,  0.57464241, -0.51115713,
         0.06530073,  0.08435075,  0.75150883, -0.47825055, -0.93097626,
        -3.00447181, -0.89956853,  6.57339035, -2.90163913,  3.26232075]])

In [139]:
pd.DataFrame(jitchol(A))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,9.700031,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.334117,8.831413,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,-1.677102,-0.997391,8.325659,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,-1.135607,-1.721174,2.410210,9.133075,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,-0.370391,-0.307526,1.713369,0.025768,10.915215,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,-0.171083,-0.513176,-0.911307,-1.484499,0.028086,10.288780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,-0.710038,0.496131,1.698764,1.048933,-0.812588,-1.080877,10.198181,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,1.364610,-0.899720,2.733164,-0.116862,0.078521,-1.269719,-0.829489,9.260613,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,-0.773792,-0.725861,-1.333320,0.630858,0.036530,0.336257,0.405599,1.452750,8.641236,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.023747,-1.161175,2.446331,-0.857159,0.318678,-1.437400,-1.052958,-1.175322,0.111691,9.409254,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.572570,1.259886,-1.475118,-0.809438,0.059669,0.101531,0.395766,-1.578597,-1.323728,1.579456,8.961027,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,-1.846819,0.758486,-2.074829,-0.103537,-0.771920,2.016105,-0.568039,0.232258,0.062917,0.699659,0.189494,8.844028,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,-1.628482,-0.347754,-0.886122,-0.934458,0.874096,-0.115078,0.985602,0.372979,-3.294758,0.644296,0.397799,-0.967467,8.509427,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,-1.963957,-0.355703,-0.030309,1.234654,-0.579728,-0.581309,1.142120,1.985325,-1.128769,-1.071583,0.165579,-0.279840,-0.235166,8.857956,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,-0.293259,-0.300266,0.648879,-0.034071,-1.169720,2.065191,-2.154863,-1.395793,0.091946,-2.281225,0.682219,0.790161,0.992266,-2.111725,8.656423,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.622505,0.262331,2.755774,-1.316049,-1.547001,1.092298,0.172041,-2.502157,1.473849,-2.270620,0.698692,1.269307,1.887838,0.933248,-0.834577,7.607854,0.000000,0.000000,0.000000,0.000000
16,0.689637,1.173947,0.816238,-0.951946,-0.459485,-1.000670,0.467965,0.194107,0.866526,-0.681147,0.481049,0.932009,0.612368,-1.151167,-1.390393,0.022362,9.938180,0.000000,0.000000,0.000000
17,-1.350055,1.079600,-1.897846,1.875984,-0.492172,1.027962,-0.793123,2.399255,-2.163108,0.828886,-0.988227,-0.682852,-1.984920,-0.100486,1.010962,5.807264,-0.522799,5.558522,0.000000,0.000000
18,-0.077273,-1.548105,-0.182336,0.841119,-0.694398,1.319873,0.818990,0.714752,-0.306093,-0.548444,0.670240,0.825981,1.740453,1.102931,-0.606007,-1.121888,-0.680814,2.238812,9.929516,0.000000
19,-1.140741,0.046505,-0.971598,-0.308479,0.719015,-1.301364,-0.127518,-1.689453,0.574642,-0.511157,0.065301,0.084351,0.751509,-0.478251,-0.930976,-3.004472,-0.899569,6.573390,-2.901639,3.262321

In [140]:
import numpy as np
from scipy.linalg import cholesky, LinAlgError


def custom_cholesky(A, max_tries=5):
    A = np.ascontiguousarray(A) # パフォーマンス向上 計算結果にも影響
    diag_A = np.diag(A)
    jitter = diag_A.mean() * 1e-6
    num_tries = 0
    
    try:
        L = cholesky(A, lower=True)
        return L
    except LinAlgError:
        num_tries += 1
        
    while num_tries <= max_tries and np.isfinite(jitter):
        try:
            L = cholesky(A + np.eye(A.shape[0]) * jitter, lower=True)
            return L
        except LinAlgError:
            jitter *= 10
            num_tries += 1
    
    raise LinAlgError("Matrix is not positive definite, even with jitter.")

In [141]:
for i in range(50):
    A = generate_non_pd_mat()
    B = jitchol(A)
    C = custom_cholesky(A)
    print(np.unique(B == C))

[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]

In [142]:
def np_custom_cholesky(A, max_tries=5):
    A = np.ascontiguousarray(A) # パフォーマンス向上 計算結果にも影響
    diag_A = np.diag(A)
    jitter = diag_A.mean() * 1e-6
    num_tries = 0
    
    try:
        L = np.linalg.cholesky(A)
        return L
    except LinAlgError:
        num_tries += 1
        
    while num_tries <= max_tries and np.isfinite(jitter):
        try:
            L = np.linalg.cholesky(A + np.eye(A.shape[0]) * jitter)
            return L
        except LinAlgError:
            jitter *= 10
            num_tries += 1
    
    raise LinAlgError("Matrix is not positive definite, even with jitter.")

In [205]:
for i in range(50):
    A = generate_non_pd_mat()
    # B = jitchol(A)
    C = custom_cholesky(A)
    D = np_custom_cholesky(A)
    print(np.unique(C == D))

[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]

# 3. 連立方程式のコレスキー分解を利用した解法

$$\begin{align*}
p( y^* | X^*, \mathcal D) = \mathcal N  ( y^* | K_{N*}^T ( \sigma^2 I &+ K_{NN})^{-1} y, K_{**} - K_{N*}^T (\sigma^2 I + K_{NN})^{-1}  K_{N*})
\end{align*}$$

In [215]:
from scipy.linalg import solve_triangular

In [222]:
noise = 1.
noise

1.0

In [219]:
kern = RBF()
kern.lengthscale = 10.
kern.variance, kern.lengthscale

(1.0, 10.0)

In [226]:
K = kern.K(X, X)
print(K.shape)
pd.DataFrame(K).head()

(27, 27)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1.000000,0.923116,0.726149,0.606531,0.486752,0.278037,0.056135,0.019841,0.005976,0.001534,...,2.867975e-13,1.266417e-14,4.765305e-16,1.527980e-17,4.175010e-19,9.720985e-21,1.928750e-22,3.261027e-24,4.698355e-26,5.768330e-28
1,0.923116,1.000000,0.923116,0.835270,0.726149,0.486752,0.135335,0.056135,0.019841,0.005976,...,5.534610e-12,2.867975e-13,1.266417e-14,4.765305e-16,1.527980e-17,4.175010e-19,9.720985e-21,1.928750e-22,3.261027e-24,4.698355e-26
2,0.726149,0.923116,1.000000,0.980199,0.923116,0.726149,0.278037,0.135335,0.056135,0.019841,...,9.101471e-11,5.534610e-12,2.867975e-13,1.266417e-14,4.765305e-16,1.527980e-17,4.175010e-19,9.720985e-21,1.928750e-22,3.261027e-24
3,0.606531,0.835270,0.980199,1.000000,0.980199,0.835270,0.375311,0.197899,0.088922,0.034047,...,3.475891e-10,2.289735e-11,1.285337e-12,6.148396e-14,2.506222e-15,8.705427e-17,2.576757e-18,6.499348e-20,1.396944e-21,2.558592e-23
4,0.486752,0.726149,0.923116,0.980199,1.000000,0.923116,0.486752,0.278037,0.135335,0.056135,...,1.275408e-09,9.101471e-11,5.534610e-12,2.867975e-13,1.266417e-14,4.765305e-16,1.527980e-17,4.175010e-19,9.720985e-21,1.928750e-22

In [232]:
L = custom_cholesky(K + noise*np.eye(K.shape[0]))
LT = L.T

print(L.shape)
display(pd.DataFrame(L).head())
print(LT.shape)
display(pd.DataFrame(LT).head())

(27, 27)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1.414214,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.652742,1.254563,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.513465,0.468654,1.231551,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.428882,0.442641,0.448652,1.191151,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.344186,0.399729,0.453944,0.379452,1.171198,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(27, 27)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1.414214,0.652742,0.513465,0.428882,0.344186,0.196602,0.039693,0.014030,0.004226,0.001085,...,2.027965e-13,8.954917e-15,3.369579e-16,1.080445e-17,2.952178e-19,6.873774e-21,1.363832e-22,2.305894e-24,3.322239e-26,4.078825e-28
1,0.000000,1.254563,0.468654,0.442641,0.399729,0.285695,0.087222,0.037445,0.013617,0.004199,...,4.306070e-12,2.239443e-13,9.919167e-15,3.742164e-16,1.202578e-17,3.292096e-19,7.677544e-21,1.525390e-22,2.582048e-24,3.723791e-26
2,0.000000,0.000000,1.231551,0.448652,0.453944,0.398935,0.176021,0.089792,0.038637,0.014061,...,7.217935e-11,4.405064e-12,2.289600e-13,1.013620e-14,3.822360e-16,1.227882e-17,3.360259e-19,7.834280e-21,1.556151e-22,2.633563e-24
3,0.000000,0.000000,0.000000,1.191151,0.379452,0.374015,0.202079,0.113354,0.053518,0.021337,...,2.629496e-10,1.747725e-11,9.890255e-13,4.765648e-14,1.955488e-15,6.833448e-17,2.033782e-18,5.155526e-20,1.113184e-21,2.047407e-23
4,0.000000,0.000000,0.000000,0.000000,1.171198,0.357099,0.240473,0.148965,0.077349,0.033815,...,9.742798e-10,7.026198e-11,4.312940e-12,2.253757e-13,1.002711e-14,3.798615e-16,1.225448e-17,3.366811e-19,7.878174e-21,1.570149e-22

In [246]:
alpha = solve_triangular(LT, solve_triangular(L, Y, lower=True))

In [247]:
K_starN = kern.K(X, X_pred).T
K_starN.shape

(500, 27)

In [248]:
mu = K_starN @ alpha

In [251]:
pd.DataFrame(mu.T, index=['mu'])

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
mu,0.049292,0.054763,0.060772,0.067363,0.074585,0.082486,0.091122,0.100547,0.110821,0.122007,...,0.097011,0.088061,0.079846,0.072316,0.065422,0.059118,0.053361,0.04811,0.043326,0.038974

## ↑ GPyの計算結果と一致した

In [220]:
mu = kern.K(X, X_pred) @

array([[1.11089965e-02, 1.23119217e-02, 1.36289021e-02, ...,
        4.35047795e-44, 2.67141677e-44, 1.63843922e-44],
       [3.08871541e-03, 3.47069761e-03, 3.89528887e-03, ...,
        1.14448560e-41, 7.12529547e-42, 4.43077231e-42],
       [7.31802419e-04, 8.33720712e-04, 9.48705355e-04, ...,
        2.56564510e-39, 1.61948523e-39, 1.02103685e-39],
       ...,
       [1.02103685e-39, 1.61948523e-39, 2.56564510e-39, ...,
        9.48705355e-04, 8.33720712e-04, 7.31802419e-04],
       [4.43077231e-42, 7.12529547e-42, 1.14448560e-41, ...,
        3.89528887e-03, 3.47069761e-03, 3.08871541e-03],
       [1.63843922e-44, 2.67141677e-44, 4.35047795e-44, ...,
        1.36289021e-02, 1.23119217e-02, 1.11089965e-02]])

In [ ]:
from scipy.linalg import solve_triangular

def _raw_predict(self, kern, Xnew, pred_var, full_cov=False):
    woodbury_vector = self.woodbury_vector
    woodbury_inv = self.woodbury_inv

    if not isinstance(Xnew, VariationalPosterior):
        Kx = kern.K(pred_var, Xnew)
        mu = np.dot(Kx.T, woodbury_vector)
        if len(mu.shape) == 1:
            mu = mu.reshape(-1, 1)
        if full_cov:
            Kxx = kern.K(Xnew)
            if woodbury_inv.ndim == 2:
                var = Kxx - np.dot(Kx.T, np.dot(woodbury_inv, Kx))
            elif woodbury_inv.ndim == 3:  # Missing data
                var = np.empty((Kxx.shape[0], Kxx.shape[1], woodbury_inv.shape[2]))
                from ...util.linalg import mdot
                for i in range(var.shape[2]):
                    var[:, :, i] = (Kxx - mdot(Kx.T, woodbury_inv[:, :, i], Kx))
            var = var
        else:
            Kxx = kern.Kdiag(Xnew)
            if woodbury_inv.ndim == 2:
                var = (Kxx - np.sum(np.dot(woodbury_inv.T, Kx) * Kx, 0))[:, None]
            elif woodbury_inv.ndim == 3:  # Missing data
                var = np.empty((Kxx.shape[0], woodbury_inv.shape[2]))
                for i in range(var.shape[1]):
                    var[:, i] = (Kxx - (np.sum(np.dot(woodbury_inv[:, :, i].T, Kx) * Kx, 0)))
            var = var
            var = np.clip(var, 1e-15, np.inf)
    return mu, var

In [ ]:
_K = 
_K_chol = 
_woodbury_chol = 
_woodbury_vector =