In [1]:
import numpy as np
import pandas as pd
import GPy
import pods

In [62]:
np.random.seed(seed=1)

In [63]:
data = pods.datasets.olympic_100m_men()
X, Y = data["X"], data["Y"]
X_pred = np.linspace(X[:,0].min() - 30,
                     X[:,0].max() + 30,
                     500).reshape(-1,1)

In [64]:
pd.concat([pd.DataFrame(X.T, index=["X"]), pd.DataFrame(Y.T, index=["Y"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
X,1896.0,1900.0,1904.0,1906.0,1908.0,1912.0,1920.0,1924.0,1928.0,1932.0,...,1972.00,1976.00,1980.00,1984.00,1988.00,1992.00,1996.00,2000.00,2004.00,2008.00
Y,12.0,11.0,11.0,11.2,10.8,10.8,10.8,10.6,10.8,10.3,...,10.14,10.06,10.25,9.99,9.92,9.96,9.84,9.87,9.85,9.69

In [65]:
k = GPy.kern.RBF(input_dim=1,
                 variance=1.,
                 lengthscale=10.)
k

In [66]:
m = GPy.models.GPRegression(X, Y, k)
m

In [67]:
mu, var = m.predict(X_pred)

In [68]:
pd.concat([pd.DataFrame(mu.T, index=["mu"]), pd.DataFrame(var.T, index=["var"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
mu,0.049292,0.054763,0.060772,0.067363,0.074585,0.082486,0.091122,0.100547,0.110821,0.122007,...,0.097011,0.088061,0.079846,0.072316,0.065422,0.059118,0.053361,0.048110,0.043326,0.038974
var,1.999930,1.999914,1.999894,1.999871,1.999843,1.999809,1.999769,1.999721,1.999663,1.999595,...,1.999601,1.999668,1.999725,1.999772,1.999812,1.999845,1.999873,1.999896,1.999915,1.999931

In [69]:
m.optimize("bfgs", max_iters=200)

In [72]:
m

In [70]:
mu, var = m.predict(X_pred)

In [71]:
pd.concat([pd.DataFrame(mu.T, index=["mu"]), pd.DataFrame(var.T, index=["var"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
mu,12.704943,12.687970,12.671040,12.654152,12.637307,12.620505,12.603747,12.587033,12.570364,12.553739,...,9.197328,9.187747,9.178099,9.168385,9.158604,9.148756,9.138841,9.128859,9.118810,9.108693
var,0.264451,0.258577,0.252824,0.247191,0.241675,0.236275,0.230988,0.225814,0.220749,0.215794,...,0.213356,0.218182,0.223114,0.228153,0.233301,0.238560,0.243931,0.249417,0.255018,0.260738