# 0. 準備

In [1]:
import scipy 
from scipy.linalg import solve_triangular
from scipy.linalg.lapack import dpotrf, dtrtri, dpotrs, dpotri
import numpy as np
import pandas as pd

import sys
sys.path.append('../')
from linalg_util import *

from gp_util import *

In [2]:
import gp_util
import importlib
importlib.reload(gp_util)

In [3]:
X, Y, X_pred = make_data()
noise = 1.
k = RBF()
K = k.K(X)
Ky = K.copy() + np.eye(K.shape[0]) * (noise+1e-8)
LW = customized_cholesky(Ky)
alpha = solve_triangular(LW.T, solve_triangular(LW, Y, lower=True))

# 1. Posterior クラス 動作確認

In [26]:
posterior = Posterior(woodbury_chol=LW, woodbury_vector=alpha, K=K)

In [27]:
pd.DataFrame(posterior.woodbury_inv).head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0.5,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0
1,0.0,0.5,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0
2,0.0,0.0,5.000000e-01,-3.459741e-88,2.393962e-175,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0
3,0.0,0.0,-3.459741e-88,5.000000e-01,-3.459741e-88,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0
4,0.0,0.0,2.393962e-175,-3.459741e-88,5.000000e-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0