# 0. ライブラリのインポート & トイデータの準備

In [1]:
import numpy as np
import pandas as pd
import GPy
import pods

In [2]:
np.random.seed(seed=1)

In [55]:
data = pods.datasets.olympic_100m_men()
X, Y = data["X"], data["Y"]
X_pred = np.linspace(X[:,0].min() - 30,
                     X[:,0].max() + 30,
                     500).reshape(-1,1)

In [56]:
pd.concat([pd.DataFrame(X.T, index=["X"]), pd.DataFrame(Y.T, index=["Y"])], axis=0)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
X,1896.0,1900.0,1904.0,1906.0,1908.0,1912.0,1920.0,1924.0,1928.0,1932.0,...,1972.00,1976.00,1980.00,1984.00,1988.00,1992.00,1996.00,2000.00,2004.00,2008.00
Y,12.0,11.0,11.0,11.2,10.8,10.8,10.8,10.6,10.8,10.3,...,10.14,10.06,10.25,9.99,9.92,9.96,9.84,9.87,9.85,9.69

In [57]:
pd.DataFrame(X_pred.T, index=["X_pred"])

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
X_pred,1866.0,1866.344689,1866.689379,1867.034068,1867.378758,1867.723447,1868.068136,1868.412826,1868.757515,1869.102204,...,2034.897796,2035.242485,2035.587174,2035.931864,2036.276553,2036.621242,2036.965932,2037.310621,2037.655311,2038.0

# 1. RBFカーネル

---

$$k(x, x') = variance * \exp\left( -\frac{1}{2} \frac{|x - x'|^2}{lengthscale} \right)$$

In [58]:
class RBF:
    def __init__(self, variance=1., lengthscale=0.1):
        self.variance=variance
        self.lengthscale=lengthscale
        # self.r = self._euclidean_distance
        
    def K(self, X, X2=None):
        return self.variance * np.exp(-0.5 * (self._euc_dist(X, X2) / self.lengthscale)**2)
        # return self._euc_dist(X, X2)
        
    def _euc_dist(self, X, X2):
        if X2 is None:
            # print("X2 is None")
            # print(X2)
            Xsq = np.sum(np.square(X),1)
            r2 = -2.*(np.dot(X, X.T)) + (Xsq[:,None] + Xsq[None,:]) 
            r2 = np.clip(r2, 0, np.inf)
            np.fill_diagonal(r2, 0.)
            return np.sqrt(r2)
        else:
            # print(X)
            # print(X2)
            X1sq = np.sum(np.square(X),1)
            X2sq = np.sum(np.square(X2),1)
            r2 = -2.*np.dot(X, X2.T) + (X1sq[:,None] + X2sq[None,:])
            r2 = np.clip(r2, 0, np.inf)
            return np.sqrt(r2)

In [59]:
kern = RBF()
kern.variance, kern.lengthscale

(1.0, 0.1)

In [76]:
pd.DataFrame(kern.K(X, X_pred)).head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
kern.K(X, X_pred).max(), kern.K(X, X_pred).min()

(0.9927971862436876, 0.0)

ハイパーパラメータの値が重要

In [77]:
kern.lengthscale = 10.
kern.lengthscale

10.0

In [79]:
pd.DataFrame(kern.K(X, X_pred)).head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.011109,0.012312,0.013629,0.015069,0.016641,0.018356,0.020223,0.022253,0.024459,0.026851,...,1.278370e-42,7.915405e-43,4.895237e-43,3.023837e-43,1.865636e-43,1.149687e-43,7.076464e-44,4.350478e-44,2.671417e-44,1.638439e-44
1,0.003089,0.003471,0.003895,0.004367,0.004889,0.005468,0.006108,0.006814,0.007593,0.008452,...,3.053619e-40,1.916988e-40,1.202009e-40,7.528012e-41,4.709088e-41,2.942234e-41,1.836123e-41,1.144486e-41,7.125295e-42,4.430772e-42
2,0.000732,0.000834,0.000949,0.001078,0.001224,0.001388,0.001572,0.001778,0.002009,0.002267,...,6.215642e-38,3.956201e-38,2.515097e-38,1.597037e-38,1.012883e-38,6.416346e-39,4.059758e-39,2.565645e-39,1.619485e-39,1.021037e-39
3,0.000335,0.000385,0.000441,0.000505,0.000577,0.000659,0.000751,0.000855,0.000973,0.001106,...,8.351489e-37,5.352420e-37,3.426261e-37,2.190659e-37,1.398985e-37,8.923503e-38,5.685147e-38,3.617696e-38,2.299357e-38,1.459704e-38
4,0.000148,0.000171,0.000197,0.000227,0.000261,0.000300,0.000345,0.000395,0.000453,0.000518,...,1.078127e-35,6.957453e-36,4.484505e-36,2.887106e-36,1.856500e-36,1.192370e-36,7.649119e-37,4.901124e-37,3.136635e-37,2.005009e-37

In [80]:
kern.K(X, X_pred).max(), kern.K(X, X_pred).min()

(0.9999992771123355, 1.638439217006888e-44)

# 2.

In [ ]:
import numpy as np
from scipy import linalg
from scipy.linalg import lapack, blas

def jitchol(A, maxtries=5):
    A = np.ascontiguousarray(A)
    L, info = lapack.dpotrf(A, lower=1)
    if info == 0:
        return L
    else:
        diagA = np.diag(A)
        if np.any(diagA <= 0.):
            raise linalg.LinAlgError("not pd: non-positive diagonal elements")
        jitter = diagA.mean() * 1e-6
        num_tries = 1
        while num_tries <= maxtries and np.isfinite(jitter):
            try:
                L = linalg.cholesky(A + np.eye(A.shape[0]) * jitter, lower=True)
                return L
            except:
                jitter *= 10
            finally:
                num_tries += 1
        raise linalg.LinAlgError("not positive definite, even with jitter.")
    import traceback
    try: raise
    except:
        logging.warning('\n'.join(['Added jitter of {:.10e}'.format(jitter),
            '  in '+traceback.format_list(traceback.extract_stack(limit=3)[-2:-1])[0][2:]]))
    return L


class LinalgTests(np.testing.TestCase):
    def setUp(self):
        #Create PD matrix
        A = np.random.randn(20,100)
        self.A = A.dot(A.T)
        #compute Eigdecomp
        vals, vectors = np.linalg.eig(self.A)
        #Set smallest eigenval to be negative with 5 rounds worth of jitter
        vals[vals.argmin()] = 0
        default_jitter = 1e-6*np.mean(vals)
        vals[vals.argmin()] = -default_jitter*(10**3.5)
        self.A_corrupt = (vectors * vals).dot(vectors.T)

    def test_jitchol_success(self):
        """
        Expect 5 rounds of jitter to be added and for the recovered matrix to be
        identical to the corrupted matrix apart from the jitter added to the diagonal
        """
        L = jitchol(self.A_corrupt, maxtries=5)
        A_new = L.dot(L.T)
        diff = A_new - self.A_corrupt
        np.testing.assert_allclose(diff, np.eye(A_new.shape[0])*np.diag(diff).mean(), atol=1e-13)

    def test_jitchol_failure(self):
        try:
            """
            Expecting an exception to be thrown as we expect it to require
            5 rounds of jitter to be added to enforce PDness
            """
            jitchol(self.A_corrupt, maxtries=4)
            return False
        except sp.linalg.LinAlgError:
            return True

In [2]:
import numpy as np
from scipy import linalg
from scipy.linalg import lapack, blas
import traceback
import logging


def jitchol(A, maxtries=5):
    A = np.ascontiguousarray(A)
    L, info = lapack.dpotrf(A, lower=1)
    if info == 0:
        return L
    else:
        diagA = np.diag(A)
        if np.any(diagA <= 0.):
            raise linalg.LinAlgError("not pd: non-positive diagonal elements")
        jitter = diagA.mean() * 1e-6
        num_tries = 1
        while num_tries <= maxtries and np.isfinite(jitter):
            try:
                L = linalg.cholesky(A + np.eye(A.shape[0]) * jitter, lower=True)
                return L
            except:
                jitter *= 10
            finally:
                num_tries += 1
        raise linalg.LinAlgError("not positive definite, even with jitter.")

    try:
        raise
    except:
        logging.warning('\n'.join(['Added jitter of {:.10e}'.format(jitter),
                                   '  in ' + traceback.format_list(traceback.extract_stack(limit=3)[-2:-1])[0][2:]]))
    return L


class LinalgTests(np.testing.TestCase):
    def setUp(self):
        # Create PD matrix
        A = np.random.randn(20, 100)
        self.A = A.dot(A.T)
        # Compute Eigdecomp
        vals, vectors = np.linalg.eig(self.A)
        # Set smallest eigenval to be negative with 5 rounds worth of jitter
        vals[vals.argmin()] = 0
        default_jitter = 1e-6 * np.mean(vals)
        vals[vals.argmin()] = -default_jitter * (10 ** 3.5)
        self.A_corrupt = (vectors * vals).dot(vectors.T)

    def test_jitchol_success(self):
        """
        Expect 5 rounds of jitter to be added and for the recovered matrix to be
        identical to the corrupted matrix apart from the jitter added to the diagonal
        """
        L = jitchol(self.A_corrupt, maxtries=5)
        A_new = L.dot(L.T)
        diff = A_new - self.A_corrupt
        np.testing.assert_allclose(diff, np.eye(A_new.shape[0]) * np.diag(diff).mean(), atol=1e-13)

    def test_jitchol_failure(self):
        try:
            """
            Expecting an exception to be thrown as we expect it to require
            5 rounds of jitter to be added to enforce PDness
            """
            jitchol(self.A_corrupt, maxtries=4)
            return False
        except linalg.LinAlgError:
            return True

In [13]:
def setUp():
    
    np.random.seed(seed=1)
    
    # Create PD matrix
    A = np.random.randn(20, 100)
    A = A.dot(A.T)
    # Compute Eigdecomp
    vals, vectors = np.linalg.eig(A)
    # Set smallest eigenval to be negative with 5 rounds worth of jitter
    vals[vals.argmin()] = 0
    default_jitter = 1e-6 * np.mean(vals)
    vals[vals.argmin()] = -default_jitter * (10 ** 3.5)
    A_corrupt = (vectors * vals).dot(vectors.T)
    return A_corrupt

In [15]:
A = setUp()

In [6]:
np.linalg.cholesky()

NameError: name 'A_corrupt' is not defined